body {
  background-color: gold;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: red;
  text-transform: capitalize;
  /* text-attachment: fixed; */
}

table {
  margin: 0 auto;
  background-color: aqua;
  border-collapse: collapse;
  border: 2px solid crimson;
}

caption {
  font-size: 16px;
  text-align: center;
}

th {
  border: 2px solid green;
  padding: 10px;
}

td {
  text-align: center;
  font-weight: bold;
  color: blue;
  border: 2px solid green;
  padding: 10px;
}

sup {
  color: black;
  font-size: 10px;
}

dt,
.text-bold {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.sources {
  display: flex;
  justify-content: flex-end;
}
